## RStudio files
.Rproj.user

## History
.Rhistory

## data directories and files
data
analysis/*_cache/
drafts/*_cache/
.RData
.Ruserdata
.DS_Store
output/unnamed*
analysis/intermediate/covars_and_matrices.RData
analysis/intermediate
drafts
analysis/*html
